@white: #fff;
@text-color: #eee;
@inverse-text-color: #333;
@body-bg: #110f0e;

@navbar-default-color:             #ccc;
@navbar-default-bg:                #333;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-color:                darken(@navbar-default-color, 10%);
@navbar-default-link-hover-color:          @navbar-default-color;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         lighten(@navbar-default-color, 10%);
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 10%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;


@navbar-default-brand-color:               #FFF;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;


@navbar-default-toggle-hover-bg:           lighten(@navbar-default-bg, 10%);
@navbar-default-toggle-icon-bar-bg:        @navbar-default-border;
@navbar-default-toggle-border-color:       @navbar-default-border;

@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @navbar-default-bg;
@nav-pills-active-link-hover-color:         @navbar-default-bg;


@panel-bg:                    lighten(@body-bg, 10%);
@panel-inner-border:          #ddd;
@panel-border-radius:         @border-radius-base;
@panel-footer-bg:             lighten(@body-bg, 20%);

@panel-default-text:          @text-color;
@panel-default-border:        @navbar-default-border;
@panel-default-heading-bg:    lighten(@body-bg, 20%);

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@well-bg:                     @navbar-default-bg;


//@import url("/includes/css/font-awesome.min.css");

.fb-titleblock {
	display: block;
	position: relative;
	max-width: 400px;
	margin: 0 0 1em 0;
	img {
		position: absolute;
		bottom: -0.5em;
		margin: 0 5%;
		width: 25%;
	}
	.fb-title {
		display: block;
		margin: 0.4em 0 0.4em 33%;
		line-height: 2em;
	}
}

.twitter-feed {
	.twitterDetails {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 1em;
		text-align: center;
		.profile-img {
			width: 25%;
			min-width: 48px;
			max-width: 148px;
		}
	}
	.wall-item {
		header {
			.post-date { margin: 0 0 0 1em; }
		}
		footer {
			li {
				padding: 0;
				a {
					display: block;
					background-image: url('/includes/img/twitter-everything-spritev2.png');
					background-repeat: no-repeat;
					background-position: 0 center;
					padding: 0;
					min-width: 16px;
					min-height: 16px;
					&.tw-reply {
						background-position: 0 center;
						&:hover { background-position: -16px center; }
					}
					&.tw-retweet {
						background-position: -80px center;
						&:hover { background-position: -96px center; }
					}
					&.tw-favorite {
						background-position: -32px center;
						&:hover { background-position: -48px center; }
					}
					span {
						margin: 0 0 0 18px;
						padding: 0 5px 0 0;
						background-color: @navbar-default-bg;
					}
				}
			}
		}
	}
}

.social-media-feed {
	ul.data-selection {
		li {
			display: table-cell;
			width: 1%;
			a { 
				border-radius: 0;
				color: @text-color; 
				&:hover {
					color: @navbar-default-link-hover-color;
					backgrond-color: @navbar-default-link-hover-bg;
				}
			}
		}
	}
	.tab-content {
		height: 300px;
		overflow: auto;
		background-color: @navbar-default-bg;
		.wall-item {
			padding: 1em;
			border-bottom: 1px @navbar-default-border solid;
			dl {
				dt {
					text-decoration: underline;
				}
				dd {
					margin: 0 0 1em 0;
				}
			}
			img {
				margin: 0.25em 0; 
			}
			.comments {
				margin: 1em 0;
				header {
					background-color: lighten(@navbar-default-bg, 10%);
					padding: 0.5em 1em;
					p { margin: 0.25em 1em; }
					a { color: @text-color; }
					.post-date { margin: 0 0 0 1em; }
				}
				.comment {
					header {
						background-color: @navbar-default-bg;
						padding: 0;
						a { color: @text-color; }
					}
				}
			}
			footer {
				padding: 0.25em 0;
			}
		}
	}
	footer {
		padding: 0.5em 0;
	}
}


.cfdump_udf,
.cfdump_cfc,
.cfdump_struct { color: #000; }

.container {
	& > header:first-child {
		background-image: url('/includes/img/finealleySplash500.jpg');
		background-position: center;
		background-repeat: no-repeat;
		height: 360px;
		z-index: 1;
		a { display: none; }
	}
	& > footer:last-child {
		font-size: 0.7em;
		margin: 1em 0 0 0;
		color: darken(@text-color, 40%);
	}
}

.navbar-default {
	z-index: 10000;
}

.modal { color: @inverse-text-color; }

footer {
	.btn-group {
		margin: 1em 0;
	}
}

.event {
	footer {
		margin: 1em 0;
		p { 
			margin: 0; 
			padding: 0; 
			color: darken(@text-color, 40%);
		}
	}
	.upcomingEvents & {
		&:nth-child(odd) {
			clear: both;
		}
	}
}

.venue-map {
	border: 2px @navbar-default-border solid;
	border-radius: 1em;
	overflow: hidden;
	min-height: 200px;
}

@import "datepicker-build";
@import "datepicker";
@import "timepicker";

