@text-color: #eee;
@body-bg: #110f0e;

footer:last-child {
	color: darken(@text-color, 40%);
}

.facebook {
	position: relative;
	.fb-titleblock {
		display: block;
		position: relative;
		max-width: 400px;
		margin: 0 0 1em 0;
		img {
			position: absolute;
			bottom: -0.5em;
			margin: 0 5%;
			width: 25%;
		}
		.fb-title {
			margin: 0.4em 0 0.4em 35%;
		}
	}
}